<footer>
    copyright &copy; from  zjy in <a href="http://www.quantacenter.com">quantacenter</a> from <cite>GDUFS</cite>
</footer>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="/javascripts/jquery-1.11.1.min.js" type="application/javascript"><\/script>');
</script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--socket.io-->
<script src="//cdn.socket.io/socket.io-1.3.7.js"></script>
<script>
    window.io || document.write('<script src="/javascripts/socket.io.js" type="application/javascript"><\/script>');
</script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/controller.js"></script>
</body>
</html>